#imgBox{

    width:500px;
    height:500px;
    border:2px solid black;

}

#imgBox img{

    width:200px;
    height:200px;
    cursor:pointer;

}

#mainBox{

    width:500px;
    height:500px;
    border:2px solid black;
    position:relative;
    left:600px;
    top:-504px;

}

#mainBox >img{

    width:500px;
    height:500px;
    border:2px solid black;
   
    cursor:pointer;

}

#status {

   position:relative;
   top:-750px;
   left:1200px;

}

.j {

    position:relative;
    top:-550px;
    float:left;
    padding-left:30px;
    color:red;

}