#pbc {

    width:250px;
    height:16px;
    background:#000;
    border:1px solid #000;

  
}

    #pbc > #pb {

    position:relative;
    top:0px;
    background:#06c;
    width:0%;
    height:16px;
    color:#0ff;
    text-align:center;


    }

    #pbc > #pbt {
    
    position:relative;
    top:-19px;
    text-align:center;
    color:#fff;
    padding:4px;
    height:8px;
    font-size:12px;

    }
