.class1 {

    float:left;
    margin:10px;
    background:#09c;
    width:100px;
    height:100px;
    cursor:pointer;

}

.class2 {

    float:left;
    margin:10px;
    background:#0c0;
    width:100px;
    height:100px;
    cursor:pointer;


}
