body {

    margin:0;
    background:#999;
}

div#topbar {

    background:-webkit-linear-gradient(#666,#000);
    background:linear-gradient(#666,#000);
    height:60px;

}


div#topbar #logo {

   float:left;
   width:140px;
   height:35px;
   margin:8px 0 0 30px;
   font-size:36px;
   color:#999; 

}

div#topbar > #sections_btn_holder{

  float:left;
  width:144px;
  height:46px;
  padding-top:16px;

}


div#topbar > #sections_btn_holder > button{

    background:#ff6a00;
}

div#topbar > #section_panel1{

    position:absolute;
    height:0;
    width:550px;
    background:#000;
    top:60px;
    left:160px;
    border-radius:0 0 8px 8px;
    overflow:hidden;
    z-index:10000;/*To view this content to top*/
    transition:height 0.3s linear 0s;

}


div#topbar > #section_panel1 > div{

    background:#333;
    padding:20px;
    height:238px;
    margin:10px;
    color:#fc0;

}







