#ball {

    background:url(ball.gif);
    width:70px;
    height:80px;



}

@keyframes ball-bounce {
    from {
        background-position: 0px;
    }

    to {
        background-position:-300px;
    }
}

@-moz-keyframes ball-bounce {
     from {
        background-position: 0px;
    }

    to {
        background-position:-300px;
    }
}

@-webkit-keyframes ball-bounce {
     from {
        background-position: 0px;
    }

    to {
        background-position:-300px;
    }
}
