#bg {
width:100%;
height:100%;
background-color:white;
opacity:0.7;
position:fixed;
top:0px;
left:0px;
display:none;

}

#box {

    width:500px;
    padding:5px;
    background-color:black;
    position:relative;
    top:100px;
    left:400px;
    display:none;


}


#head {
   padding:15px;
   background-color:#666;
   text-align:center;
   color:white;
   font-weight:bold;
   font-size:19px;
}

#body {
   padding:30px;
   background-color:#333;
   color:white;
   font-size:16px;
}


#foot {

   padding:15px;
   background-color:#666;
   text-align:right;
   color:white;
   font-weight:bold;
   font-size:19px;
}