#my_header{

    background-color:#ccc;
    width:100%;
    height:40px;
    margin:0 auto;
    font-size:22px;

}

#my_menu {

    float:left;
    width:25%;
    min-width:120px;
    margin-right:2%;
}

#my_menu a {

    display:block;
    float:left;
    padding:12px 8px;
    background:#D7F1FF;
    border-bottom:#ADE7ff 1px solid;


}

#my_content {
   
  
     margin:20px auto;
     font-size:20px;


}