body{

    background-color:white;
    color:black;
    font-family:'Lucida Bright',Verdana,Arial,sans-serif;


}

h1, th {

    font-family:'Times New Roman' serif;
}

h1 {

    font-size:28px;

}

table {

    border-collapse:collapse;

}

th, td {

    padding:10px;
    border:2px #666 solid;
    font-size:24px;


}

#free {

    background-color:#fb6522;

}