.dudeTable {

    border:3px solid #cc0000;
    background-color:#0099cc;
    color:white;

}


.dudeHead {


    font-family:Verdana;
    font-weight:bold;
    font-size:18px;

}


.dudeImages {

    font-family:Arial;
    font-size:16px;

}

.chickTable {

    border:3px solid #cc3399;
    background-color:#ffff00;

}


.chickHead {
    font-family:Georgia;
    font-weight:bold;
    font-size:15px;

}


.chickImages {

    font-family:Georgia;
    font-size:14px;
    font-style:italic;

}