.boxes {


    width:250px;
    height:250px;
    background-color:lightblue;
    border:2px solid black;
    position:absolute;
    display:none;
    
}

#box1 {

   top:100px;
   left:0px;


}

#box2 {

   top:100px;
   left:250px;


}


#box3 {

   top:100px;
   left:500px;


}

