div#mycontent {

    font-size:18px;
    border:#000 1px solid;
    width:450px;
    height:250px;
    padding:20px;
    background:#DFEFFF;


}

div#mymenu > button {


    padding:10px 30px;

}


div#btn_maker {
    position: absolute;
    border: #000 2px solid;
    border-bottom: none; /*This way the border-bottom is none*/
    width: 0;
    height: 10px;
    display: none;
    -moz-transition: left .5s ease 0s, width .5s linear 0s;
    -o-transition: left .5s ease 0s, width .5s linear 0s;
    -webkit-transition: left .5s ease 0s, width .5s linear 0s;
    transition: left .5s ease 0s, width .5s linear 0s;
}