#myTv {

    background-image: url(tv.jpg);
    height: 164px;
    width: 269px;
    padding:15px;
    border:2px solid black;

}


#myScreen {

    width:228px;
    height:164px;
   


}

#myScreen >img {

    
   width:228px;
    height:164px;
    margin-left:21px;
}